body{
    background-color: rgb(240, 245, 245);
}
header{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 10vh;
    margin-left: 5%;
    border-top-style:double ;
    border-bottom-style: solid ;
    border-color:rgb(211, 208, 208) ;
    /* border-width: 1px; ; */
    background-color: rgb(231, 230, 230);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}
span{
    color: gray;
}
button{
    background-color: black;
    color :rgb(211, 208, 208);
    width: 10%;
    height: 60%;
    margin-top: 1.5%;
   
}
.customer-info{
    border: 1px solid rgb(211, 208, 208);
    background-color: white;
    margin-left: 10%;
    margin-top: 1%;
    width: 70%;
    padding-left: 2%;
}
.order-info{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(211, 208, 208);
    margin-left: 10%;
    margin-top: 1%;
    width: 70%; 
    background-color: rgb(231, 230, 230);
    line-height: -20%;
    padding-left: 2%;
    
}
.time{
    margin-right: 10%;
}
.product-list{
    display:flex;
    border: 1px solid rgb(211, 208, 208);
    margin-left: 10%;
    margin-top: 1%;
    width: 70%;
    padding-left: 2%;
    background-color: white;
}
.img1{
    width: 20%;
    height: 20%;
    padding: 2%;
    display: flex;
    justify-content: space-between;

}
.content{
    width: 60%;
}
img{
    width: 80%;
    height: 80%;

}

li::marker{
    font-size: 200%;
}
.orange{
    width: 30px;
    height: 30px;
    border: 1px solid orange;
    margin-top: 35%;
    margin-right: 10%;
    margin-left: -10%;
}
.ar{
    margin: auto;
    font-size: 200%;
    color: gray;
}
.ar1{
    font-size: 200%;
    margin-top:1% ;
    color: gray;
   
}
li{
    text-indent: -10%;
    
}
ul{
    margin-top: -7%;
    margin-left: -10%;
}