body{
    background-color: rgb(240, 245, 245);
}
header{
    display: flex;
    justify-content: space-between;
    width: 75%;
    height: 10vh;
    margin-left: 5%;
    border-top-style:double ;
    border-bottom-style: solid ;
    border-color:rgb(211, 208, 208) ;
    /* border-width: 1px; ; */
    background-color: rgb(231, 230, 230);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
}
span{
    color: gray;
}
button{
    background-color: black;
    color :rgb(211, 208, 208);
    width: 10%;
    height: 60%;
    margin-top: 1.5%;
   
}
.customer-info{
    border: 1px solid rgb(211, 208, 208);
    background-color: white;
    margin-left: 10%;
    margin-top: 1%;
    width: 70%;
    padding-left: 2%;
}

