.order-info{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(211, 208, 208);
    margin-left: 10%;
    margin-top: 1%;
    width: 70%; 
    background-color: rgb(231, 230, 230);
    line-height: -20%;
    padding-left: 2%;
    
}
.time{
    margin-right: 10%;
}